{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "globals": {
    "chrome": "readonly",
    "window": "readonly"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "arrow-body-style":"off"
  }
}
