.button {
  display: inline-flex;
  align-items: center;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
  outline: none;
  cursor: pointer;

  &.outline {
    background-color: transparent;
  }

  svg.button-icon {
    font-size: 1.2rem;
    margin-right: 0.3rem;
  }
}
