.tree-view {
  height: 100%;

  .react-json-view {
    height: 100%;
    overflow: auto;
    background-color: var(--view-bg-color) !important;
    padding: 1rem;
    font-size: 0.8rem;

    .copy-icon {
      svg {
        font-size: 0.8rem !important;
      }
    }
  }
}
