.tree-view {
  height: 100%;

  .react-json-view {
    height: 100%;
    overflow: auto;
    background-color: var(--view-bg-color) !important;
    padding: 1rem;

    .copy-icon {
      svg {
        font-size: inherit !important;
      }
    }
  }
}
