
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/Montserrat-Black.ttf') format('truetype');
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #222831;
  --header-bg-color: #393e46;
  --sidebar-bg-color: rgba(0, 0, 0, 0.2);
  --view-bg-color: rgba(0, 0, 0, 0.4);
  --view-sub-bg-color: rgba(0,0,0,0.2);
  --border-color: rgba(255, 255, 255, 0.1);
  --dark-color: #000;
  --light-color: #fff;
  --font-color: #fff;
  --disabled-font-color: rgba(255, 255, 255, 0.3);
  --primary-color: #00adb5;
  --hover-color: rgba(255, 255, 255, 0.1);
  --scroll-bg-color: rgba(255,255,255, 0.2);
  --scroll-thumb-color: rgba(255,255,255, 0.3);

  font-size: 16px;
}

#firefox.devpanelHtml {
  font-size: 12px;
}

#firefox.popupHtml {
  font-size: 12px;
}

#chrome.popupHtml {
  font-size: 12px;
}

#chrome.devpanelHtml {
  font-size: 16px;
}

html,
body,
#devPanelRoot,
#popupRoot,
#main-app {
  height: 100%;
  margin: 0;
}

.devpanelHtml,
.popupHtml,
#devPanelRoot,
#popupRoot {
  overflow: hidden;
}

#optionsRoot {
  min-width: 550px;
}

.popupHtml, .popupHtml body {
  width: 750px;
  height: 400px;

  aside {
    width: 190px;
  }
}

#main-app {
  background-color: var(--main-bg-color);
  color: var(--font-color);
  display: flex;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

  #content {
    display: flex;
    flex: 1;
    height: 100%;
    min-height: 0;

    section {
      flex: 1;
      min-width: 0;
      overflow-x: auto;
    }
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--scroll-bg-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scroll-thumb-color);
}
