<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
	<title>Untitled Test Suite</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Untitled Test Case</td></tr>
</thead>
<tbody>
<tr><td>open</td><td>https://www.bing.com/search?q=canvas+cypress+college&amp;form=ANNTH1&amp;refig=b6c042ee7856458faea0699db653742b&amp;sp=-1&amp;ghc=1&amp;pq=canvas+cypress+colle&amp;sc=6-20&amp;qs=n&amp;sk=&amp;cvid=b6c042ee7856458faea0699db653742b<datalist><option>https://www.bing.com/search?q=canvas+cypress+college&amp;form=ANNTH1&amp;refig=b6c042ee7856458faea0699db653742b&amp;sp=-1&amp;ghc=1&amp;pq=canvas+cypress+colle&amp;sc=6-20&amp;qs=n&amp;sk=&amp;cvid=b6c042ee7856458faea0699db653742b</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>link=Cypress College<datalist><option>link=Cypress College</option><option>//a[contains(text(),'Cypress College')]</option><option>//ol[@id='b_results']/li/h2/a</option><option>//a[contains(@href, 'https://www.cypresscollege.edu/')]</option><option>//h2/a</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>link=Canvas<datalist><option>link=Canvas</option><option>//a[contains(text(),'Canvas')]</option><option>//li[@id='menu-item-31861']/a</option><option>//a[contains(@href, 'https://sso.nocccd.edu/login?service=https%3A%2F%2Fcypresscollege.instructure.com%2Flogin%2Fcas')]</option><option>//li[2]/a</option><option>css=#menu-item-31861 &gt; a</option></datalist></td><td></td>
</tr>
<tr><td>selectWindow</td><td>win_ser_1<datalist><option>win_ser_1</option></datalist></td><td></td>
</tr>
<tr><td>type</td><td>id=username<datalist><option>id=username</option><option>name=username</option><option>//input[@id='username']</option><option>//form[@id='fm1']/div/div/div/div/input</option><option>//input</option><option>css=#username</option></datalist></td><td>01218066</td>
</tr>
<tr><td>type</td><td>id=password<datalist><option>id=password</option><option>name=password</option><option>//input[@id='password']</option><option>//form[@id='fm1']/div[2]/div/div/input</option><option>//div[2]/div/div/input</option><option>css=#password</option></datalist></td><td>Lift2019!</td>
</tr>
<tr><td>click</td><td>id=username<datalist><option>id=username</option><option>name=username</option><option>//input[@id='username']</option><option>//form[@id='fm1']/div/div/div/div/input</option><option>//input</option><option>css=#username</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>name=submit<datalist><option>name=submit</option><option>//input[@name='submit']</option><option>//form[@id='fm1']/div[3]/input[4]</option><option>//input[4]</option><option>css=input[name="submit"]</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>//div[@id='announcementWrapper']/div/div[2]/div/div[2]/a/i<datalist><option>//div[@id='announcementWrapper']/div/div[2]/div/div[2]/a/i</option><option>//a/i</option><option>css=i.icon-x</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>xpath=(//button[@type='button'])[2]<datalist><option>xpath=(//button[@type='button'])[2]</option><option>//div[@id='announcementWrapper']/div/div/div[3]/span/button</option><option>//span/button</option><option>css=button.fOyUs_bGBk.fOyUs_fKyb.fOyUs_cuDs.fOyUs_cBHs.fOyUs_eWbJ.fOyUs_fmDy.fOyUs_eeJl.fOyUs_cBtr.fOyUs_fuTR.fOyUs_cnfU.fQfxa_bGBk</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>//div[@id='DashboardCard_Container']/div/div[3]/div/a/div/h3/span<datalist><option>//div[@id='DashboardCard_Container']/div/div[3]/div/a/div/h3/span</option><option>//div[3]/div/a/div/h3/span</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>xpath=(//a[contains(text(),'CIS 132 Excel Exam #2 Selitrennikoff (70 mins, 37 Tasks, 3 Tries, No Hints)')])[2]<datalist><option>xpath=(//a[contains(text(),'CIS 132 Excel Exam #2 Selitrennikoff (70 mins, 37 Tasks, 3 Tries, No Hints)')])[2]</option><option>//li[@id='context_module_item_536029']/div/div/div/span/a</option><option>xpath=(//a[contains(@href, '/courses/14755/modules/items/536029')])[2]</option><option>//div[14]/div[2]/ul/li[2]/div/div/div/span/a</option><option>css=#context_module_item_536029 &gt; div.ig-row.ig-published.student-view &gt; div.ig-info &gt; div.module-item-title &gt; span.item_name &gt; a.ig-title.title.item_link</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>link=Modules<datalist><option>link=Modules</option><option>//a[contains(text(),'Modules')]</option><option>//ul[@id='section-tabs']/li[3]/a</option><option>//a[contains(@href, '/courses/14755/modules')]</option><option>//div[2]/nav/ul/li[3]/a</option><option>css=a.modules</option></datalist></td><td></td>
</tr>
<tr><td>click</td><td>xpath=(//a[contains(text(),'CIS 132 Excel Practice Exam #2 Selitrennikoff (37 Tasks, 3 Tries, With Hints)')])[2]<datalist><option>xpath=(//a[contains(text(),'CIS 132 Excel Practice Exam #2 Selitrennikoff (37 Tasks, 3 Tries, With Hints)')])[2]</option><option>//li[@id='context_module_item_536028']/div/div/div/span/a</option><option>xpath=(//a[contains(@href, '/courses/14755/modules/items/536028')])[2]</option><option>//div[14]/div[2]/ul/li/div/div/div/span/a</option><option>css=#context_module_item_536028 &gt; div.ig-row.ig-published.student-view &gt; div.ig-info &gt; div.module-item-title &gt; span.item_name &gt; a.ig-title.title.item_link</option></datalist></td><td></td>
</tr>
</tbody></table>
</body>
</html>